@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text: #070404;
  --background: #ffffff;
  --primary: #365863;
  --secondary: #cdd7da;
  --accent: #e9430c;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Archivo", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-weight: normal;
}

body {
  background-color: var(--text);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

html {
  max-height: 100vh;
}

.special {
  color: var(--accent);
}
.catcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.catcontainer p {
  position: absolute;
  z-index: -1;
  animation-name: speen;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
img {
  max-width: 100%;
  z-index: 2;
  transition-delay: 1s !important;
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
}
.catcontainer:hover img {
  transform: rotate(-30deg) translateX(150vw) translateY(-150vh);
  -webkit-transform: rotate(-30deg) translateX(150vw) translateY(-150vh);
  -moz-transform: rotate(-30deg) translateX(150vw) translateY(-150vh);
  -ms-transform: rotate(-30deg) translateX(150vw) translateY(-150vh);
  -o-transform: rotate(-30deg) translateX(150vw) translateY(-150vh);
}
.welcome-card {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--secondary);
  padding: 20px;
}
@media (max-width: 600px) {
  body {
    display: block;
  }
}
@keyframes speen {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
